# Firebase Configuration
FIREBASE_API_KEY=
FIREBASE_DATABASE_URL=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Backend Configuration
PORT=3001

# Simulator Configuration
INGEST_INTERVAL_MS=5000

# Frontend Configuration
NUXT_PUBLIC_API_BASE_URL=http://localhost:3001